/* ******************************** items ******************************** */

.ai_null {
} 
.ai_s {
  align-items: start;
}
.ai_c {
  align-items: center;
}
.ai_e {
  align-items: end;
}
.ai_h {
  align-items: stretch;
}
